# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
venv/
env/
.venv/

# macOS artifacts
.DS_Store
__MACOSX/
._*

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

